Library/*Cache
Library/Artifacts
Library/Bee/Cached*
Library/Bee/artifacts*
.vs
.vsconfig
Temp
Temp/UnityLockfile
Logs
/Temp/UnityLockfile
/Temp/__Backupscenes/0.backup
/Temp/workerlic
/Library/EditorInstance.json
